.product-card{
    height: 400px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #e4dede;
    float: left;
    margin: 5px 15px 15px 15px;
}
.product-card-header{
    height: 40px;
    font-size: 14px;
    font-weight: 800;
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
}
.product-card-image{
    height: 250px;
    width: 100%;
}
.product-card-image img{
    height: inherit;
    width: inherit;
}
.product-card-description{
    height: 50px;
    font-size: 14px;
    padding: 5px;
    word-break: break-word;
    background: #eaeaea;
    margin-top: 5px;
    overflow: auto;
}
.product-card-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 4px;
}
.product-card-price-block{
    padding-top: 7px;
}
.product-card-min{
    display: none;
    padding: 10px;
    height: 250px;
    text-align: center;
    align-items: center;
}
.product-card-image-min{
    height: 75%;
    width: 32vw;
    display: flex;
    align-items: center
}
.product-card-src-image-min{
    height: inherit;
    width: inherit;
}
.login-button-min{
    width: auto;
}
.product-card-description-min{
    margin-bottom: 10px;
}
.product-card-desc-min{
    flex-grow: 1;
}
.product-card-min{
    display: none;
}
.product-card-block{
    display: none;
}
.product-card-min-block{
    display: none;
}
.product-card-min-desc-block{
    display: flex;
    clear: both;
}
.product-card-mni-desc-block{
    display: flex;
    height: 150px;
    align-items: center;
    background-color: #eaeaea;
}
.product-card-min-desc-block-small{
    display: none;
}

/* css media queries */
@media only screen and (max-width: 920px) {
    .product-card{
        display: none;
        height: 250px;
        width: 43%;
    }
    .product-card-header{
        display: block;
    }
    .product-card-block{
        display: block;
    }
    .product-card-min{
        display: flex;
    }
    .product-card-min-block{
        display: block;
    }
    .product-card-image{
        height: inherit;
        width: 150px;
    }
    .product-card-description{
        height: 150px;
    }
}

@media only screen and (max-width: 600px) {
    .product-card{
        display: none;
        height: 250px;
        width: 100%;
        margin: 5px 0px 15px 0px;
    }
    .product-card-desc-right-block{
        float: right;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 30px;
        height: 100%;
    }
    .product-card-image{
        float: left;
        width: 50%;
    }
    .product-card-image img{
        width: 100%;
        height: 75%;
        object-fit: contain;
    }
    .category-card-min{
        display: none;
    }
    .product-card-block{
        display: block;
        width: 95%;
    }
    .product-card-min-block{
        display: block;
    }
    .product-card-min-desc-block-medium{
        display: none;
    }
    .product-card-min-desc-block-small{
        display: block;
    }
    .login-button{
        font-size: 9px !important;
    }
    .product-card-small{
        height: 200px;
    }
    .product-card-description{
        height: 100px;
    }
}