.header-container{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0 8px 6px -6px #837f7f;
    -moz-box-shadow: 0 8px 6px -6px #837f7f;
    box-shadow: 0 8px 6px -6px #837f7f;
}
.header-logo{
    margin-left: 18%;
}
.header-link-section{
   display: flex;
   align-items: center;
   margin-right: 20px;
}
.header-link-section a{
    color: #000;
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
}
.header-container-left-section{
    display: flex;
}
.header-container-tabs{
    margin-left: 20%;
    display: flex;
    align-items: end
}
.header-nav-active-tab{
    color: #d00155 !important;
}

/* css media queries */
@media only screen and (max-width: 600px) {
    .header-logo{
        margin-left: 0;
    }
    .header-container-tabs{
        display: none;
    }
}