.footer-block{
    height: 55px;
    width: 100%;
    background-color: #eaeaea;
    /* border: 1px solid; */
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    margin-left: 10px;
}